.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}
.bd-mode-toggle {
  z-index: 1500;
}

/*Definições Gerais*/

#universal {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(1, 16, 19, 1) 100%
  );
}

#hero {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(1, 16, 19, 1) 100%
  );
}

#header {
  width: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(1, 16, 19, 1) 100%
  );
}

#video-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#menu {
  padding-top: 0px;
  padding-bottom: -70px;
}

.navbar-nav {
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: -0px;
  margin-right: 50px;
  padding-right: 30px;
  padding-bottom: 0px;
}

#nav-item-divisor {
  width: 1px;
  color: rgb(255, 255, 255);
  color: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(219, 219, 219, 1) 35%,
    rgba(101, 113, 115, 1) 100%
  );
}

#Botoes-Menu {
  z-index: 0;
  background: transparent;
  color: rgb(255, 255, 255);
  color: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(219, 219, 219, 1) 35%,
    rgba(101, 113, 115, 1) 100%
  );

  text-decoration: none;
  font-size: 1em;
  margin-top: 0px;
  padding-top: 0px;
  margin-right: 20px;
  margin-left: 10px;
  padding-right: 59px;
  padding-left: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#Logo {
  background: transparent;
  margin-right: 10px;
  margin-left: 170px;
  padding-left: 10px;
}

.navbar-brand {
  margin-left: 85px;
  padding-left: -5px;
}

#results-1 {
  width: 100%;
  gap: 1rem;
  padding: -10px -10px 0.7rem 1.8rem;
  margin-left: 32px;
}

#results-2 {
  gap: 3.5rem;
  font-weight: bold;
  font-size: 1.5em;
  margin-right: 29px;
  padding-right: -20px;
  text-decoration: underline 5px;
  color: rgb(255, 255, 255);
  color: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(219, 219, 219, 1) 35%,
    rgba(101, 113, 115, 1) 100%
  );
}

#paiat {
  padding-left: 30px;
}

#divider {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(1, 16, 19, 1) 100%
  );
  color: rgb(255, 255, 255);
  color: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(219, 219, 219, 1) 35%,
    rgba(101, 113, 115, 1) 100%
  );
}

/*BreakPoints */

@media (max-width: 826px) {
  #money,
  #emp,
  #paiat {
    display: block;
  }
}

/*Tablets */
@media (min-width: 767.98px) and (max-width: 991.98px) {
  #Logo {
    background: transparent;
    margin-right: 10px;
    margin-left: 405px;
    padding-left: 10px;
  }
}

/*Celulares */

@media (max-width: 600px) {
  #Logo {
    background: transparent;
    margin-right: 10px;
    margin-left: 179px;
    padding-left: 10px;
  }
}

